<html>
  <body>
    <div id="counter"></div>
    <div>
  </body>
<script type="text/javascript">

var counter = <%= JSON.generate(@counter.as_json) %>

Counter.prototype.render = function(){
  var container = this.el;
  container.innerHTML = '';  
  var butt_name = document.createElement("h2");
  butt_name.innerHTML = "Name: " + counter.name;
  container.appendChild(butt_name);

  var count = document.createElement("h3");
  count.id = "count_display";
  count.innerHTML = "Count: " + counter.count;
  container.appendChild(count);

  var button = document.createElement("button");
  button.innerHTML = "I'm a button";
  button.addEventListener('click', function(){    
    this.data.count ++;
    this.countUp();
  }.bind(this));
  container.appendChild(button);

  return container;
}

Counter.prototype.countUp = function(){
  var self = this;
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200){
      self.render();
    }
  }
  xhttp.open("PUT", "/counters/" + counter.id, true);
  xhttp.send(JSON.stringify({"counter":{"count":counter.count}}));
}

function Counter(el, data){
  this.el = document.getElementById(el);
  this.data = data; 
  this.render();  
}

var newCounter = new Counter('counter', counter);

</script>
</html>
